<%- include('partials/header'); -%>

<section>
  <div class="notfound">
    <img src="/logo.png" alt="">
    <h2>Sorry, we cannot find that page :(</h2>
    <h3>Lost your way?</h3>
    <a href="/" class="btn">Go to homepage</a>
  </div>
</section>


<%- include('partials/footer'); -%>