<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>About Jay Cafe</h2>
    <h3>"Now serving: Cute looks and cold brews."</h3>
    <h4 class="title">Location</h4>
    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam earum quaerat obcaecati repellendus odit eum id labore. Placeat repellat enim consequuntur, dicta ullam tempore consequatur quisquam numquam, nemo similique provident.</p>
    <h4 class="title">Contact</h4>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non id atque vero omnis facere doloremque minus adipisci tenetur, tempore recusandae.</p>
    <a href="/coffee" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>