<%- include('./partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Cafe Recipes</h2>
    <h3>"Everything I brew, I brew it for you."</h3>
    <a href="/coffee" class="btn">View Recipes</a>
  </div>
</header>


<%- include('./partials/footer'); -%>